.label {
}

#body-bg {
    -fx-background-color: #ffffff;
}

#driver-tab-pane {
    -fx-background-color: #ececec;
}

#custom-button.button  {
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-background-color: #ffffff;
    -fx-border-color: #03a1e5;
    -fx-min-width: 150px;
    -fx-min-height: 30px;
}

#custom-button.button:hover {
    -fx-background-color: #03a1e5;
    -fx-background-radius: 5px;
    -fx-text-fill: #ffffff;
}
.button:pressed {
    -fx-scale-x: 0.9;
    -fx-scale-y: 0.9;
}

#close-button.button  {
    -fx-border-radius: 5px;
    -fx-background-color: transparent;
    -fx-border-color: #F17374FF;
}

#close-button.button:hover {
    -fx-background-color: #F17374FF;
    -fx-background-radius: 5px;
    -fx-text-fill: #ffffff;
}
